
body {
    background: linear-gradient(to bottom, #FFD6C5, #FE9063);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
  
}

/* Conteneur du formulaire */
.divForm {
    background-color: #972C00;
    padding: 30px;
    border-radius: 10% 0% 10% 10% / 10% 10% 10% 10% ;
    width: 350px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    color: #972C00;
    font-size: 50px;
    font-weight: bold;
}

/* Style des champs de formulaire */
input {
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    background-color: #FFD6C5;
    font-size: 16px;
    color: #8b5a2b;
    font-weight: bold;
}

input::placeholder {
    color: #8b5a2b;
    font-weight: bold;
}

/* Bouton */
button {
    width: 97%;
    padding: 12px;
    background-color: #ff652f;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: #e04e1f;
}

/* Lien de connexion */
p {
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
    color: #873717;
}

p a {
    color: #ff652f;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

.mb-7 p{
    border: 2px solid red; /* Juste pour le debugging */
    color: #972C00;
}



/* Position des boutons inscription et connexion */
.header-buttons {
    top: 20px;
    right: 20px;
    display: flex;
    gap: 10px;
}

.header-buttons button {
    width: auto;
    padding: 10px 20px;
}

/* Copyright en bas à gauche */
.footer {
   
    bottom: 10px;
    left: 10px;
    color: #972C00;
    font-weight: bold;
} 

