<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Nomadia{% endblock %}</title>
  <link href="/css/header.css" rel="stylesheet">
  {% block style %}{% endblock %}
</head>
<body class="bg-beige text-brun font-sans">

  {% include "partials/header.twig" %}

  <main class="min-h-[80vh]">
    {% block main %}{% endblock %}
  </main>

  {% include "partials/footer.twig" %}
  {% block script %}{% endblock %}

</body>
</html>
