

{% extends "base.twig" %}

{% block style %}

    <link rel="stylesheet" href="/assets/css/home.css">
{% endblock %}

{% block title %}Tableau de bord admin{% endblock %}

{% block main %}

<h1>Welcome to Nomadia</h1>
 

{% endblock %}